{% extends 'base.html.twig' %}

{% block title %}Montants index{% endblock %}

{% block body %}
<div class="row">
    <div class="card col-md-8 offset-2  mt-3 p-0">
        <div class="card-header bg-perso text-white">
            <h1>Montants index</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Libellé montant</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for montant in montants %}
                    <tr>
                        <td>{{ montant.libelleMontant }}</td>
                        <td>
                            <a href="{{ path('montants_show', {'id': montant.id}) }}">show</a>
                            <a href="{{ path('montants_edit', {'id': montant.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-perso">
            <a class="btn btn-success" href="{{ path('montants_new') }}"><i class="fas fa-plus" ></i> Créer un montant</a>
        </div>
{% endblock %}
