{% extends 'base.html.twig' %}

{% block title %}New Gammes{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-8 offset-2 mt-3 p-0">
                <h1 class="card-header bg-perso text-white">Créer une Gamme</h1>
                {{ include('gammes/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
