{% extends 'base.html.twig' %}

{% block title %}Huisserie index{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="card col-md-10 offset-1 mt-3 p-0">
            <div class="card-header bg-perso text-white">
                <h1>Liste des Huisseries</h1>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Libelle de l'huisserie</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for huisserie in huisseries %}
                        <tr>
                            <td>{{ huisserie.libelleHuisserie }}</td>
                            <td>
                                <a class="fas fa-eye text-primary" href="{{ path('huisserie_show', {'id': huisserie.id}) }}"></a>
                                <a class="fas fa-edit text-warning" href="{{ path('huisserie_edit', {'id': huisserie.id}) }}"></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Pas d'huisserie enregistré</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer bg-perso">
                <a class="btn btn-success" href="{{ path('huisserie_new') }}"> <i class="fas fa-plus text-white"></i> Ajouter une Huisserie</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
