{% extends 'base.html.twig' %}

{% block title %}New Composants{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-8 offset-2  card mt-2 p-0">
        <div class="card-header bg-perso text-white">
            <h1>Création d'un Composant</h1>
        </div>
        {{ include('composants/_form.html.twig') }}
    </div>
</div>
{% endblock %}
