{% extends 'base.html.twig' %}

{% block title %}New FamilleComposants{% endblock %}

{% block body %}
    <h1>Create new FamilleComposants</h1>

    {{ include('famille_composants/_form.html.twig') }}

    <a href="{{ path('famille_composants_index') }}">back to list</a>
{% endblock %}
