{% extends 'base.html.twig' %}

{% block title %}Edit Clients{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-8 offset-2 mt-3 p-0">
                <h1 class="card-header bg-perso text-white">Modifier Client</h1>

                {{ include('clients/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>


{% endblock %}
